:root {
    --col-background: #fff;
    --col-text: #525252;
    --col-ico: #1f1f1f;
    --col-splitter: #d9d9d9;
    --col-input-text-bg: #fbfbfb;
    --col-border: #e5e7eb;

    --col-tab-active: #fff;
    --col-tab-inactive: #f7f7f7;
    --col-tab-hover: #fff;

    --col-menu-request-method: #3c4fff;
    --col-accent: #6878ff;
}

:root.dark-mode {
    --col-background: #2e3134;
    --col-text: #fff;
    --col-ico: #9f9f9f;
    --col-splitter: rgba(101, 101, 101, 0.69);
    --col-input-text-bg: rgb(40, 40, 40);
    --col-input-text: #fff;
    --col-border: rgba(101, 101, 101, 0.69);

    --col-tab-active: #454545;
    --col-tab-inactive: #2f2f2f;
    --col-tab-hover: #454545;

    --col-menu-request-method: #a4a4a4;
    --col-accent: #6878ff;
    --col-accent-hover: #808dff;
}

html {
    background: var(--col-background);
    scroll-behavior: smooth;
    overflow-x: hidden;
    color: var(--col-text);
    font-family: "Quicksand", "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.font-w-600 {
    font-weight: 600;
}

body {
    margin: 0;
    font-size: 0.9rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

path.ico-svg {
    fill: var(--col-ico);
}

svg rect.ico-svg {
    stroke: var(--col-ico);
}

/* colors only */
.bg-text-input {
    background-color: var(--col-input-text-bg);
}

/* latin-ext */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local(""),
    url("assets/fonts/quicksand-latin-ext-7bh.woff2") format('woff2');
    unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local(""),
    url("assets/fonts/quicksand-latin-ext-ypw.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*, :before, :after {
    --webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: var(--col-border);
}

.col-bg-light {
    background-color: var(--col-bg-light);
}

/* text alignments */
.txtl {
    text-align: left;
}

.txtr {
    text-align: right;
}

.txtc {
    text-align: center;
}

.w100 {
    width: 100vw;
}

.h100 {
    height: 100vh;
}

.border {
    border-width: 1px;
}

.border-no-right {
    border-width: 1px 0 1px 1px;
}

.flex-col {
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 100%;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* tabs */

.tab-head {
    width: 10rem;
    border-right: 1px solid var(--col-splitter);
    cursor: pointer;
    user-select: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-color: var(--col-tab-inactive);
}

.tab-head.active {
    background-color: var(--col-tab-active);
}

.tab-head:hover {
    background-color: var(--col-tab-hover);
}

.menu-left {
    min-width: 15rem;
}

/* flex */

.flex {
    display: flex;
}

.flex-1 {
    flex: 1 1 0;
}

.flex-row {
    flex-direction: row;
    display: flex;
    width: 100%;
    height: 100%;
}

.flex-items-center {
    display: flex;
    align-items: center;
}

.flex-none {
    flex: none;
}

.flex-nowrap {
    -ms-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.whitespace-nowrap {
    white-space: nowrap;
}

.rounded {
    border-radius: 0.25rem;
}

.rounded-l {
    border-radius: 0.25rem 0 0 0.25rem;
}

.rounded-r {
    border-radius: 0 0.25rem 0.25rem 0;
}


.link-endpoint {
    cursor: pointer;
}

.split-panes {
    display: flex;
    width: 100%;
    height: 100%;
}

.col-blue-light {
    color: var(--col-blue-light);
}

.split-panes-vertical {
    flex-direction: row;
    display: flex;
    width: 100%;
    height: 100%;
}

.splitter-horizontal {
    height: 0;
    pointer-events: none;
    background-color: var(--col-splitter);
    position: relative;
    min-height: 1px;
    cursor: row-resize;
}

.splitter-vertical {
    width: 0;
    pointer-events: none;
    background-color: var(--col-splitter);
    position: relative;
    min-width: 1px;
    cursor: col-resize;
}

.splitter-horizontal.movable, .splitter-vertical.movable {
    pointer-events: auto;
}

.wh100pc {
    width: 100%;
    height: 100%;
}

.overflow-hidden {
    overflow: hidden;
}

.split-panes-horizontal.pane {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.h-auto {
    height: auto;
}

.overflow-auto {
    overflow: auto !important;
}

.overflow-x-auto {
    overflow-x: auto;
}

.overflow-y-auto {
    overflow-y: auto;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.flex-justify {
    display: flex;
    justify-content: space-between;
}

.cm-editor {
    height: 100%;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.sticky {
    position: sticky;
}

.top-0 {
    top: 0;
}

.flex-shrink-0 {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.content-component {
    width: 100%;
    height: calc(100% - 35px);
}

.tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    white-space: nowrap;
    overflow: auto;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    height: 35px
}

.btn-send {
    background-color: var(--col-accent);
    color: white;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
}

.btn-send:hover {
    background-color: var(--col-accent-hover);
}

.text-input {
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    color: var(--col-input-text);
}

.flex-dir-col {
    flex-direction: column;
}

#pane-content {
    min-width: 50%;
}

#pane-left-menu {
    min-width: 15rem;
}

/* error modal window styles */
.modal-bg {
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    backface-visibility: hidden;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    vertical-align: middle;
    text-align: center;
    left: 0;
    right: 0;
}

.modal-container {
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backface-visibility: hidden;
    vertical-align: middle;
}

.modal-window {
    opacity: 1;
    width: 500px;
    background-color: var(--col-background);
    margin: 100px auto;
    border-radius: 10px;
    position: relative;
    border: 1px solid var(--col-border);
}

.pointer {
    cursor: pointer;
}

.modal-title {
    font-weight: 600;
}

.modal-close {
    cursor: pointer;
}

.modal-close:hover {
    opacity: 0.5;
}

.hidden {
    visibility: hidden;
}

/* icons */
.ico {
    cursor: pointer;
}

.ico:hover {
    opacity: 0.5;
}

/* buttons */
.menu-left-buttons .menu-left-button {
    margin-right: 0.5rem;
}

.menu-left-button {
    color: var(--col-txt-gray);
    cursor: pointer;
    font-size: inherit;
    padding: 0.5rem;
    border-radius: 0.2rem;
}

/* URL bar section */
.bar-url, .bar-method {
    background-color: var(--col-input-text-bg);
    color: var(--col-input-text);
}

.bar-method {
    cursor: pointer;
}
